<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uwash - Cleaning Service Company HTML5 Template">
    <meta name="keywords" content="business, car wash, cleaners, cleaning, cleaning company, construction, contractor, house cleaning, maintenance, renovation, service, washing">
	<meta name="author" content="Unicoder">
    
    <title>Uwash - Cleaning Service Company HTML5 Template</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    
    <!-- Links of css files -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/yellow.css" rel="stylesheet">
	<link href="css/loader.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="page-wrapper page-load blog-page">
	<!-- Preloader start -->
    <div class="preloader">
        <div class="spinner">
        	<div class="double-bounce1"></div>
  			<div class="double-bounce2"></div>
        </div>
    </div>
	<!-- Preloader End -->
    
	<!--Header Section Start-->
    <header id="header">
      <div id="header_top">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-9">
            	<ul>
                    <li><a href="mailto:info@domain.com"><i class="fa fa-envelope" aria-hidden="true"></i> info@domain.com</a></li>
                    <li><a href="callto:+(241)1234567"><i class="fa fa-phone" aria-hidden="true"></i> +(241) 123 4567</a></li>
                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Monday - Saturday : 9.00 am- 6:00pm (EST)</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-9">
              <div class="social_media">
				<a href="#" target="new"><i class="fa fa-facebook"></i></a>
				<a href="#" target="new"><i class="fa fa-twitter"></i></a>
				<a href="#" target="new"><i class="fa fa-google-plus"></i></a>
				<a href="#" target="new"><i class="fa fa-linkedin"></i></a>
				<a href="#" target="new"><i class="fa fa-pinterest-p"></i></a> 
			  </div>
            </div>
          </div>
        </div>
      </div>
      <div id="main_header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="navigation">
                <nav class="navbar navbar-default"> 
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
					</button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo/logo.png" alt=""/></a> </div>
                  
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="row">
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
                          <li><a href="about.html">About</a></li>
                          <li class="dropdown"> 
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="service.html">Services</a></li>
                              <li><a href="apartment_service.html">Apartment Cleaning</a></li>
                              <li><a href="office_service.html">Office Cleaning</a></li>
                              <li><a href="move_in_out_service.html">Move in out Service</a></li>
                              <li><a href="car_service.html">Car Washing</a></li>
                              <li><a href="renovation_service.html">Renovation Service</a></li>
                              <li><a href="green_service.html">Green Cleaning</a></li>
                            </ul>
                          </li>
                          <li class="dropdown"> 
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                             <li><a href="project.html">Projects</a></li>
                             <li><a href="single_project.html">Single Projec</a></li>
                            </ul>
                          </li>
                          <li class="dropdown"> 
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="our_team.html">Our Team</a></li>
                              <li><a href="404.html">404</a></li>
                            </ul>
                          </li>
                          <li class="dropdown"> 
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                             <li class="active"><a href="blog.html">Blog</a></li>
                             <li><a href="blog_details.html">Blog Details</a></li>
                            </ul>
                          </li>
                          <li><a href="contact.html">Contact</a></li>
                        </ul>
                      </div>
                  </div>
                  <!-- /.navbar-collapse --> 
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--Header Section End-->
    
    <!--Page Banner Start-->
    <section id="page_banner">
        <div class="banner_overlay">
            <div class="container">
            	<div class="row">
                    <h2 class="banner_title">Blog</h2>
                    <ul class="page_banner_link">
                        <li><a href="index.html">Home</a>/</li>
                        <li><span>Blog</span></li>
                    </ul>
            	</div>
            </div>
        </div>
    </section>
    <!--Page Banner End-->
    
    <!--Blog Page Section Start-->
    <section id="all_blog">
        <div class="container">
            <div class="row">
            	<!--All Main Blog-->
                <div class="col-md-8">
                    <div class="row">    
                        <div class="col-md-6 col-sm-6">
                            <div class="blog_post">
                            	<div class="blog_img"><a href="blog_details.html"><img src="images/blog/blog1.png" alt="" /></a>
                                  <div class="blog_date">01 March, 2017</div>
                                </div>
                                <div class="blog_info"><h6 class="blog_title"><a href="blog_details.html">Clean Furnitures and Tools</a></h6>
                                  <div class="post_admin">By <a href="#">admin</a> / <a href="#">12</a> Comments / <a href="#">20</a> Views</div>
                                  <p>Aliquet id lacinia ultricies odio, neque ipsum facilisis parturient. Erat tristique nonummy etiam, fusce est porttitor</p>
                                  <a class="read_more_btn" href="blog_details.html">Read More</a> 
                               </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="blog_post">
                                <div class="blog_img"><a href="blog_details.html"><img src="images/blog/blog2.png" alt="" /></a>
                                  <div class="blog_date">21 February, 2017</div>
                                </div>
                                <div class="blog_info"><h6 class="blog_title"><a href="blog_details.html">Appartment Renovation Experience</a></h6>
                                  <div class="post_admin">By <a href="#">admin</a> / <a href="#">01</a> Comments / <a href="#">12</a> Views</div>
                                  <p>Aliquet id lacinia ultricies odio, neque ipsum facilisis parturient. Erat tristique nonummy etiam, fusce est porttitor</p>
                                  <a class="read_more_btn" href="blog_details.html">Read More</a>
								</div>
                             </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="blog_post">
                                <div class="blog_img"><a href="blog_details.html"><img src="images/blog/blog3.png" alt="" /></a>
                                  <div class="blog_date">12 February, 2017</div>
                                </div>
                                <div class="blog_info"><h6 class="blog_title"> <a href="blog_details.html">Renovation Construction Work</a></h6>
                                  <div class="post_admin">By <a href="#">admin</a> / <a href="#">10</a> Comments / <a href="#">25</a> Views</div>
                                  <p>Aliquet id lacinia ultricies odio, neque ipsum facilisis parturient. Erat tristique nonummy etiam, fusce est porttitor</p>
                                  <a class="read_more_btn" href="blog_details.html">Read More</a>
								</div>
                              </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="blog_post">
                                <div class="blog_img"><a href="blog_details.html"><img src="images/blog/blog4.png" alt="" /></a>
                                  <div class="blog_date">30 January, 2017</div>
                                </div>
                                <div class="blog_info"><h6 class="blog_title"><a href="blog_details.html">Upcoming Technology and Services</a></h6>
                                  <div class="post_admin">By <a href="#">admin</a> / <a href="#"></a> No Comments / <a href="#">10</a> Views</div>
                                  <p>Aliquet id lacinia ultricies odio, neque ipsum facilisis parturient. Erat tristique nonummy etiam, fusce est porttitor</p>
                                  <a class="read_more_btn" href="blog_details.html">Read More</a>
								</div>
                              </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="blog_post">
                                <div class="blog_img"><a href="blog_details.html"><img src="images/blog/blog5.png" alt="" /></a>
                                  <div class="blog_date">19 January, 2017</div>
                                </div>
                                <div class="blog_info"><h6 class="blog_title"><a href="blog_details.html">Factory Tools Replacement</a></h6>
                                  <div class="post_admin">By <a href="#">admin</a> / <a href="#">01</a> Comments / <a href="#">25</a> Views</div>
                                  <p>Aliquet id lacinia ultricies odio, neque ipsum facilisis parturient. Erat tristique nonummy etiam, fusce est porttitor</p>
                                  <a class="read_more_btn" href="blog_details.html">Read More</a>
								</div>
                              </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="blog_post">
                                <div class="blog_img"><a href="blog_details.html"><img src="images/blog/blog6.png" alt="" /></a>
                                  <div class="blog_date">02 January, 2017</div>
                                </div>
                                <div class="blog_info"><h6 class="blog_title"><a href="blog_details.html">Geen Cleaning Technology</a></h6>
                                  <div class="post_admin">By <a href="#">admin</a> / <a href="#">05</a> Comments / <a href="#">34</a> Views</div>
                                  <p>Aliquet id lacinia ultricies odio, neque ipsum facilisis parturient. Erat tristique nonummy etiam, fusce est porttitor</p>
                                  <a class="read_more_btn" href="blog_details.html">Read More</a>
								</div>
                              </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="blog_post">
                                <div class="blog_img"><a href="blog_details.html"><img src="images/blog/blog7.png" alt="" /></a>
                                  <div class="blog_date">28 December, 2016</div>
                                </div>
                                <div class="blog_info"><h6 class="blog_title"><a href="blog_details.html">Port renovation and Cleaning</a></h6>
                                  <div class="post_admin">By <a href="#">admin</a> / <a href="#">17</a> Comments / <a href="#">102</a> Views</div>
                                  <p>Aliquet id lacinia ultricies odio, neque ipsum facilisis parturient. Erat tristique nonummy etiam, fusce est porttitor</p>
                                  <a class="read_more_btn" href="blog_details.html">Read More</a>
								</div>
                              </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="blog_post">
                                <div class="blog_img"><a href="blog_details.html"><img src="images/blog/blog8.png" alt="" /></a>
                                  <div class="blog_date">10 December, 2016</div>
                                </div>
                                <div class="blog_info"><h6 class="blog_title"> <a href="blog_details.html">Experience of our architecture </a></h6>
                                  <div class="post_admin">By <a href="#">admin</a> / <a href="#">05</a> Comments / <a href="#">31</a> Views</div>
                                  <p>Aliquet id lacinia ultricies odio, neque ipsum facilisis parturient. Erat tristique nonummy etiam, fusce est porttitor.</p>
                                  <a class="read_more_btn" href="blog_details.html">Read More</a></div>
                              </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="blog_post">
                                <div class="blog_img"><a href="blog_details.html"><img src="images/blog/blog9.png" alt="" /></a>
                                  <div class="blog_date">16 November, 2016</div>
                                </div>
                                <div class="blog_info"><h6 class="blog_title"><a href="blog_details.html">House cleaner support</a></h6>
                                  <div class="post_admin">By <a href="#">admin</a> / <a href="#">17</a> Comments / <a href="#">102</a> Views</div>
                                  <p>Aliquet id lacinia ultricies odio, neque ipsum facilisis parturient. Erat tristique nonummy etiam, fusce est porttitor</p>
                                  <a class="read_more_btn" href="blog_details.html">Read More</a>
								</div>
                              </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="blog_post">
                                <div class="blog_img"><a href="blog_details.html"><img src="images/blog/blog10.png" alt="" /></a>
                                  <div class="blog_date">26 Octobor, 2016</div>
                                </div>
                                <div class="blog_info"><h6 class="blog_title"><a href="blog_details.html">We Supply Cleaning Matarials</a></h6>
                                  <div class="post_admin">By <a href="#">admin</a> / <a href="#">05</a> Comments / <a href="#">31</a> Views</div>
                                  <p>Aliquet id lacinia ultricies odio, neque ipsum facilisis parturient. Erat tristique nonummy etiam, fusce est porttitor</p>
                                  <a class="read_more_btn" href="blog_details.html">Read Rore</a>
								</div>
                              </div>
                        </div>
                    </div>
                    <div class="row">    
                        <div class="blog_pagination">
                            <nav aria-label="Page navigation">
                              <ul class="pagination">
                                <li>
                                  <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">Previous</span>
                                  </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li>
                                  <a href="#" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--Blog Page Right side bar-->
                <div class="col-md-4">
                    <div class="blog_right_sidebar">
                        <form class="search_box margin" method="post" action="#">
                            <input type="text" name="search" placeholder="Search Post Here..." />
                            <button type="submit" name="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                        <div class="post_category margin">
                        	<h5 class="down_line_yellow">Category</h5>
                            <a class="single_category" href="#">Home Cleaning<span>(05)</span></a>
                            <a class="single_category" href="#">Our Cleanners<span>(01)</span></a>
                            <a class="single_category" href="#">New Offer<span>(08)</span></a>
                            <a class="single_category" href="#">Technology<span>(02)</span></a>
                            <a class="single_category" href="#">Green Cleaning<span>(04)</span></a>
                            <a class="single_category" href="#">Renovation<span>(07)</span></a>
                            <a class="single_category" href="#">Car Wash<span>(03)</span></a>
                        </div>
                        <div class="recent_post margin">
                        	<h5 class="down_line_yellow">Recent post</h5>
                            <div class="single_recent_post">
                                <a href="blog_details.html"><img src="images/post/recent_post_1.jpg" alt="" /></a>
                                <h6><a href="blog_details.html">We Have appartment Renovation Experience</a></h6>
                                <p>April 12, 2017 </p>
                            </div>
                            <div class="single_recent_post">
                                <a href="blog_details.html"><img src="images/post/recent_post_2.jpg" alt="" /></a>
                                <h6><a href="blog_details.html">Our Upcoming Technology and Services</a></h6>
                                <p>February 01, 2017 </p>
                            </div>
                            <div class="single_recent_post">
                                <a href="blog_details.html"><img src="images/post/recent_post_3.jpg" alt="" /></a>
                                <h6><a href="blog_details.html">Car wash and Tools Cleaning Technolohy</a></h6>
                                <p>January 28, 2017</p>
                            </div>
                            <div class="single_recent_post">
                                <a href="blog_details.html"><img src="images/post/recent_post_3.jpg" alt="" /></a>
                                <h6><a href="blog_details.html">Condition for Home and Office Cleaning order</a></h6>
                                <p>December 31, 2016</p>
                            </div>
                        </div>
                        <div class="post_comment margin">
                        	<h5 class="down_line_yellow">Recent Comments</h5>
                            <div class="single_comment">
                                <h6><a href="#">Green Cleaning technology from uwash</a></h6>
                                <p>12 Hours Ago by <a href="#">MR. Andro</a></p>
                            </div>
                            <div class="single_comment">
                                <h6><a href="#">Fectory tools replacement and washing</a></h6>
                                <p>02 Days Ago by <a href="#">Admin</a></p>
                            </div>
                            <div class="single_comment">
                                <h6><a href="#">Office and Apartment Painting</a></h6>
                                <p>02 Weeks Ago by <a href="#">Marks Sayan</a></p>
                            </div>
                            <div class="single_comment">
                                <h6><a href="#">House and Office Moving Help Service</a></h6>
                                <p>03 Months Ago by <a href="#">Mark Watnny</a></p>
                            </div>
                        </div>
                        <div class="archive_post margin">
                        	<h5 class="down_line_yellow">Archive Post</h5>
                            <a href="#">April 2017</a>
                            <a href="#">March 2017</a>
                            <a href="#">February 2017</a>
                            <a href="#">January 2017</a>
                            <a href="#">December 2016</a>
                        </div>
                        <div class="photo_gallery">
                        	<h5 class="down_line_yellow">Photo Gallery</h5>
							<div class="sidebar-gallery">
								<a href="images/gallery/gallery_photo_large_1.jpg"><img src="images/gallery/gallery_photo_1.jpg" alt="" /></a>
								<a href="images/gallery/gallery_photo_large_2.jpg"><img src="images/gallery/gallery_photo_2.jpg" alt="" /></a>
								<a href="images/gallery/gallery_photo_large_3.jpg"><img src="images/gallery/gallery_photo_3.jpg" alt="" /></a>
								<a href="images/gallery/gallery_photo_large_4.jpg"><img src="images/gallery/gallery_photo_4.jpg" alt="" /></a>
								<a href="images/gallery/gallery_photo_large_5.jpg"><img src="images/gallery/gallery_photo_5.jpg" alt="" /></a>
								<a href="images/gallery/gallery_photo_large_6.jpg"><img src="images/gallery/gallery_photo_6.jpg" alt="" /></a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog Page Section End-->

	<!--Footer Section Start-->
    <footer id="footer">
      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="com_info"> 
				<a href="index.html"><img src="images/logo/footer_logo.png" alt=""/></a>
                <p>Molestie mi nam proin vitae fringilla interdum inceptos donec elementum consequat gravida dui habitant pulvinar Praesent metus vulputate mauris adipiscing. Dignissim consectetuer class iaculis dapibus nonummy. Primis libero urna curabitur hymenaeos pede nam. Mauris parturient sollicitudin fusce.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="quick_link">
                <h4 class="down_line_yellow">Quick Links</h4>
                <ul>
                  <li><a href="#">Freequently Ask Question</a></li>
                  <li><a href="#">History Of Our Company</a></li>
                  <li><a href="#">Uwash Professional Services</a></li>
                  <li><a href="#">Terms and Conditions</a></li>
                  <li><a href="#">Our Working Hours</a></li>
                  <li><a href="#">Payment System & Process</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="touch">
                <h4 class="down_line_yellow">Get In Touch</h4>
                <ul>
                  <li>
                    <h6><i class="fa fa-map-marker" aria-hidden="true"></i>Office Address</h6>
                    <p>1707 Orlando Central Pkwy Ste 100 Orlando, FL</p>
                  </li>
                  <li>
                    <h6><i class="fa fa-phone" aria-hidden="true"></i>Call us 24/7</h6>
                    <p><a href="callto:+(241)1234567">+(241) 123 4567</a><br>
                    	<a href="callto:+(291)1238167"> +(291) 123 8167</a>
                    </p>
                  </li>
                  <li>
                    <h6><i class="fa fa-envelope" aria-hidden="true"></i> Email Adress</h6>
                    <p><a href="mailto:info@domain.com">info@domain.com</a></p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="business_hour">
                <h4 class="down_line_yellow">Business Hour</h4>
                <p>Proin proin montes senectus tellus senectus at. Penatibus scelerisque nunc pellentesque fusce ante curae.</p>
                <ul>
                  <li>Monday - Friday :
                    <label>9.00am - 5.00pm</label>
                  </li>
                  <li>Saturday :
                    <label>9.00am - 2.00pm</label>
                  </li>
                  <li>Sunday :
                    <label>Closed</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-5">
              <div class="footer_bottom_left">
                <div class="follow">follow us :</div>
                <div class="social_media footer_social_media"> 
					<a href="#" target="new"><i class="fa fa-facebook"></i></a> 
					<a href="#" target="new"><i class="fa fa-twitter"></i></a> 
					<a href="#" target="new"><i class="fa fa-google-plus"></i></a> 
					<a href="#" target="new"><i class="fa fa-vimeo"></i></a> 
					<a href="#" target="new"><i class="fa fa-linkedin"></i></a> 
					<a href="#" target="new"><i class="fa fa-pinterest-p"></i></a> 
				</div>
              </div>
            </div>
            <div class="col-md-7 col-sm-7">
              <div class="footer_bottom_right">
                <div class="newsletter"> Newsletter Subscribe : </div>
                <form class="newsletter_form">
                  <input type="text" placeholder="Email Address" name="email" />
                  <input type="submit" value="Send" name="submit" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright"> Copyright 2017 © all rights by Unicoder </div>
    </footer>
    <!--Footer Section End-->

    <!-- All Javascript Plugin File here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/YouTubePopUp.jquery.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/mixitup.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>